@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header { 
    background-color: seagreen;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
    font-family: 'Dela Gothic One', cursive;
}

header img {
    max-width:15%; 
    height:auto
}

#h1 {font-size: 60px;
    margin-top: 0%;
}


nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 100px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}



.slider {
    display: flex;
    width: 100%; /* Cantidad de slides multiplicado por 100% */
    animation: slide 70s;
    position: absolute;
    top: 0;
    left: 0;
    width:170%; 
    height:auto
    

    
}

.slide {
    flex: 1;
    height: 100vh;
    background-size: 100% 100% ;
    background-position: center center;
    display: flex;
    justify-content: center;

    
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-300%);
    }
}




.hero {   
    width: 100%; /* despues de mucho probar me di cuenta que el problema de las imagenes cortadas con el temaño de la imagen en sí, sino del contenedor, osea .hero */
    height: 100vh; 
    position: relative;
    overflow: hidden;
   
}

.hero h2 {
    position: relative;
    overflow: hidden;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra verticalmente */
    justify-content: center; /* Centra horizontalmente */
    height: 100vh; /* O el valor que desees */
    color: seagreen;
    font-family: 'Dela Gothic One', cursive;   
}

.hero p {
    position: relative;
    overflow: hidden;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra verticalmente */
    justify-content: center; /* Centra horizontalmente */
    height: 100vh; /* O el valor que desees */
    color: seagreen;
    font-family: 'Dela Gothic One', cursive;
   
}

footer {
    background-color: seagreen;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}